<div style="padding: 10px" *ngIf="false">
  <label for="printerName" style="padding: 5px">Printer Name :</label>
  <input #printerName style="padding: 5px" id="printerName" type="text">&nbsp;
  <button #button style="padding: 5px">Ok</button>
</div>

<div style="display: flex">
  <label>Item Code:</label>
   <input #code type="text">
  <label>Grower Code:</label>
  <input #grower type="text">
  <label>Display Name:</label>
    <input #des type="text">
  <label>Uom:</label>
  <input #uom type="text">
  <label>Base Quantity:</label>
  <input #qty type="text">
  <label>timeStampCode:</label>
  <input #timeStampCode type="text">
   <label>Barcode ID:</label>
  <input #bid type="text">
  <label>No of Sets:</label>
  <input #set type="number">
</div>
 <button style="margin-top: 30px;" (click)="submit()">Print</button>&nbsp;
  <button style="margin-top: 30px;" (click)="getPrinters()">Get Printers</button>&nbsp;
  <button (click)="removePrinter()">Disconnect Printer</button>


