<div style="display: grid;grid-template-columns: 19% 19% 19% 19% 4%;grid-gap: 5%">
  <div>Item Code</div>
  <div>Description</div>
  <div>Base Uom Code</div>
  <div>Base Quantity</div>
  <div>No of Sets</div>
  <input #code type="text">
  <input #des type="text">
  <input #uom type="text">
  <input #qty type="text">
  <input #set type="number">
</div>
 <button style="margin-top: 30px;" (click)="submit()">Print</button>&nbsp;
  <button style="margin-top: 30px;" (click)="getPrinters()">Get Printers</button>&nbsp;
  <button (click)="removePrinter()">Disconnect Printer</button>
